@import '../vars.scss';
@import '../media.scss';

.banner {
    width: 100%;
    height: 100%;
    
    background: url('/images/first-screen.jpg');
    background-image: url('/images/first-screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    // padding: 0 100px 96px 100px;
    position: relative;

    .container {
        height: 100%;
    }

    &__wr {
        width: 100%;
        height: 100%;
        justify-content: end;
        display: flex;
        flex-direction: column;
        padding: 0 0 96px 0;
    }
    &__info {
        max-width: 678px;
        position: relative;
        z-index: 2;
        text-align: left;
    }

    &__title {
        margin: 0 0 40px 0;

    }
    &__desc {
        font: normal 400 16px / 150% 'Montserrat', sans-serif;
        color: $white-color;
        opacity: 0.79;
        margin: 0 0 40px 0;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        transform: rotate(180deg);
        background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0.00) 100%);
        z-index: 1;
    }
}