@import '../vars.scss';
@import '../media.scss';

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;

    @include tablet-lg {
        display: flex;
    }

    &.active {
        .burger__item:first-of-type {
            transform: rotate(31deg);
            scale: 1.7;
        }
        .burger__item:nth-of-type(2) {
            display: none;
        }
        .burger__item:nth-of-type(3) {
            scale: 1.3;
            transform: rotateZ(-48deg) translateX(4px) translateY(-5px);
        }
    }

    &__item {
        border-radius: 4px;
        background-color: $white-color;
        height: 3px;
        transition: all .3s;

        &:first-of-type {
            width: 16px;
        }
        &:nth-of-type(2) {
            width: 32px;
        }
        &:nth-of-type(3) {
            width: 22px;
        }
    }
}
