//colors

$black-color: #131313;
$accent-color: #171717;
$light-text: #666666;
$button-color: #C2AB81;

$white-color: #ffffff;

$full-width: 1920;

$desktop-xl: 1600;
$desktop-lg: 1399;
$tablet-lg: 1199;
$tablet: 1023;
$mobile: 766;
$mobile-sm: 575;

$min-width: 280px;
$max-width: 1520px;

$padding-desktop: 40px;
$padding-tablet-lg: 34px;
$padding-mobile: 16px;